body {
  font-family: sans-serif;
  text-align: center;
  background: #121212;
  color: white;
}

input, button {
  padding: 10px;
  margin: 5px;
}

li {
  list-style: none;
  margin: 10px;
  background: #1f1f1f;
  padding: 10px;
}
